h1{
    color: rgb(255, 55, 0);
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px rgb(0, 220, 232), 0 0 25px blue, 0 0 5px darkorange;
}
h2{
    color: rgb(255, 55, 0);
    text-align: left;
    font-size: 35px;
    text-shadow: 1.5px 1.5px rgb(173, 227, 130), 0 0 25px rgb(203, 93, 166), 0 0 5px rgb(162, 93, 93);
    text-decoration: underline;
    padding: 0%;
    margin: 0%;
}
ul
{
   color: rgb(85, 4, 248);
   font-size: 25px;
   font-style: italic;
   text-align: left;
   margin: 10px 50px;
   padding: 1px 20px;
   text-decoration-color: rgb(192, 47, 209);
   text-transform:capitalize;
   line-height: 1;
   font-family: 'Lobster', cursive;
}
body
{   background-color: rgb(238, 203, 228);
    background-size:auto;
    border-style:dashed;
    border-color: black;
    border-width: 5px;
    width: auto;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200719/pngtree-nature-green-blurred-lights-effect-background-image_359609.jpg);
    background-repeat:initial;
    background-size:contain;
}
div.images:hover{
    border: 4px solid red;
}
li:hover{
    background-color: blueviolet;
}
